@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* variables */
:root {
  /* Primary */
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%); /* work */
  --Soft-blue: hsl(195, 74%, 62%); /*(play)*/
  --Light-red-study: hsl(348, 100%, 68%); /* (study)*/
  --Lime-green: hsl(145, 58%, 55%); /*(exercise)*/
  --Violet: hsl(264, 64%, 52%); /* (social) */
  --Soft-orange: hsl(43, 84%, 65%); /* (self care)*/

  /* Neutral */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

/* Styles */

body {
  height: 100vh;
  background-color: var(--Very-dark-blue);
  /* card titles 18px */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: 255px 255px 255px 255px;
  grid-template-rows: auto;
  /* grid-template-areas:
    "person"
    "person"; */
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  gap: 24px;
  padding: 0 60px;
}

/* person stylres */
.container_person {
  /* grid-area: person; */
  grid-row: span 2;
  background-color: var(--Dark-blue);
  height: 500px;
  border-radius: 20px;
}

.container_person-1 {
  background-color: var(--Blue);
  border-radius: 20px;
  height: 360px;
  display: flex;
  flex-direction: column;
  padding: 16px 28px;
  gap: 30px;
}

.container_person-1 .container_person--photo {
  background-color: #fff;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container_person-1 .container_person--photo img {
  height: 90%;
}

.container_person-1 .container_person--name p:first-child {
  color: var(--Pale-Blue);
  font-size: 16px;
}

.container_person-1 .container_person--name p:last-child {
  font-weight: 300;
  font-size: 3rem;
}

.container_person-options {
  height: 140px;
  color: var(--Pale-Blue);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 28px;
  font-size: 18px;
}

.container_person-options span {
  width: fit-content;
}

.container_person-options span:hover {
  cursor: pointer;
  color: #fff;
}

.container_info--data:hover {
  background-color: var(--Desaturated-blue);
  cursor: pointer;
}

/* cards style */

/* cards general styles */
.container_info {
  height: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.container_section {
  height: 80px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container_section img {
  position: absolute;
  right: 20px;
}

.container_info--data {
  height: 100%;
  width: 100%;
  background-color: var(--Dark-blue);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: absolute;
  top: 42px;
  padding: 30px 30px;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data-container .data-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-header h2 {
  font-size: 18px;
  font-weight: 500;
}

.data-header img:hover {
  cursor: pointer;
}

.data-container .data-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 18px 0 0 0;
  gap: 8px;
}

.data-info .hours {
  font-size: 55px;
  font-weight: 300;
}

.data-info .subtitle {
  color: var(--Pale-Blue);
}

/* background color cards and img heigh*/

.work img, .play img, .study img {
  height: 74px;
  top: -9px;
}

.work {
  background-color: var(--Light-red-work);
}

.play {
  background-color: var(--Soft-blue);
}

.study {
  background-color: var(--Light-red-study);
}

.exercise {
  background-color: var(--Lime-green);
}

.exercise img {
  height: 54px;
  top: 0;
}

.social {
  background-color: var(--Violet);
}

.social img {
  height: 82px;
  top: -10px;
}

.selfCare {
  background-color: var(--Soft-orange);
}

.selfCare img {
  height: 62px;
  top: -10px;
}

/* footer styles */
.attribution { 
  font-size: 11px; 
  text-align: center;
  padding: 20px 0;
}

.attribution a { 
  color: var(--Light-red-study); 
}

/* mobile styles */
@media (max-width: 375px) {
  body {
    height: auto;
    /* card titles 18px */
    color: #fff;
    display: block;
  }

  .container {
    display: block;
    padding: 0 0;
    height: auto;
  }

  /* person sytles */
  .container_person {
    height: 180px;
  }

  .container_person-1 {
    height: 64%;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    gap: 20px;
  }

  .container_person-1 .container_person--photo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  .container_person-1 .container_person--name p:first-child {
    font-size: 12px;
  }

  .container_person-1 .container_person--name p:last-child {
    font-size: 20px;
  }

  .container_person-options {
    height: 36%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    padding: 0 18px;
  }

  .container_person-options span:active {
    color: #fff;
  }

  /* cards general styles */
  .container_person, .container_info {
    width: 300px;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
  }

  .container_info {
    height: 140px;
    position: relative;
  }

  .container_section {
    height: 60px;
  }

  .container_section img {
    height: 62px;
    top: -9px;
  }

  .container_info--data {
    overflow: hidden;
    position: absolute;
    top: 32px;
    padding: 20px 30px;
  }

  .data-container .data-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 0 0;
    gap: 0;
  }

  .data-info .hours {
    font-size: 32px;
  }

  .data-info .subtitle {
    font-size: 14px;
  }

}